
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Piekļuves tiesības liegtas!</h2>

<p>Portālam atļauts pieslēgties ar oficiālo darba e-pastu: <strong>vards.uzvards@if.lv</strong> !</p>

@section Scripts
{ 
<script type="text/javascript">
    $('.header-block-search').hide();
</script>
}